@font-face{
                font-family:"Tipografiadelmetro";
                src: url(../Statics/fonts/METRO-DF.TTF) format('truetype');
}
.rectangulo {
      font-family: "Tipografiadelmetro",sans-serif;
      width: 400px; /* Ancho del rectángulo */
      height: 130px; /* Altura del rectángulo */
      background-color: #09122C; /* Color de fondo */
      color: #baccff;
      border: 2px solid #09122C; /* Borde del rectángulo */
      border-radius: 10px; /* Bordes redondeados opcionales */
      text-align: center;
      margin:0 auto;
      font-size: large;
}
.parrafo-bonito {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px #09122cc4; /* sombra azul */
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.parrafo-bonito:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(93, 58, 155, 0.3);
}
#fri{
  color: #09122C;
  background-color: #09122ca1;
}
#luis{
  color: #1f2c55;
  background-color: #212e579a;
}   
#aby{
  color:#872341;
  background-color: #872341a2;
}
#hatsi{
  color:#BE3144;
  background-color: #be3144a1;
}
#diana{
  color:#813327;
  background-color: #e17564a1;
}