<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos</title>
    <link rel="stylesheet" href="../Statics/styles/estilos.css">
    <style>
        h3{
            color:rgb(100, 50, 30);
            font-family:"Tipografiadelmetro";
        }
    </style>
</head>
<body>
    <div class="rectangulo">
    <h1>Créditos Equipo 6</h1>
    </div>
    
    <br>
    <h3>Frida Eunice Dávalos Serdán</h3>
    <br>
    <br>
    <h3 id="aby" class="parrafo-bonito"> Gabriela Abigail Escamilla Flores</h3>
    <br>   
    <h3 id="luis" class="parrafo-bonito" > Luis Pablo Fernandez Aguirre </h3>
    <h3 class ="parrafo-bonito" style="background-color: aqua;"> Lòpez Rosas Hatsi Iain</h3>
    <h3 class="parrafo-bonito">Diana Karen Rivera</h3>
    
     
</body>
</html>